<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= collection_select(:product, :category_id, Category.all, :id, :name_with_state )%>
  </div>

  <div class="field">
    <%= form.label :liqour_locality %>
    <%= form.select :liqour_preference, ["Local", "International"]%>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :alcohol_percentage %>
    <%= form.select :alcohol_percentage,["1%-4%", "4%-10%"], id: :alcohol_percentage%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :offer_price %>
    <%= form.text_field :offer_price, id: :offer_price%>
  </div>

  <div class="field">
    <%= form.label :free_delivery %>
    <%= form.check_box :free_delivery, id: :free_delivery%>
  </div>

  <div class="field">
    <%= form.label :cash_on_delivery_eligible %>
    <%= form.check_box :cash_on_delivery, id: :cash_on_delivery %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
