<!-- top-header -->
<div class="header-most-top">
  <p>Top East African Liquor Store</p>
</div>
<!-- //top-header -->
<!-- header-bot-->
<div class="header-bot">
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <!-- header-bot-->
    <div class="col-md-4 logo_agile">
      <h1>
        <a href="/">
          <!-- <span>L</span>ekwaito
          <span>l</span>iquor -->
          <img src="/images/logo2.png" alt=" ">
        </a>
      </h1>
    </div>
    <!-- header-bot -->
    <div class="col-md-8 header">
      <!-- header lists -->
      <ul>
        <li>
          <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            Shop Locator</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-truck" aria-hidden="true"></span>Track Order</a>
        </li>
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          0715963645
        </li>
        <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></li>
      <% else %>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-unlock-alt" aria-hidden="true"></span>
            Sign In
          </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            Sign Up
          </a>
        </li>
        <% end %>
      </ul>
      <!-- //header lists -->
      <!-- search -->
      <div class="agileits_search">
        <form action="#" method="post">
          <input name="Search" type="search" placeholder="How can we help you today?" required="">
          <button type="submit" class="btn btn-default" aria-label="Left Align">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </form>
      </div>
      <!-- //search -->
      <!-- cart details -->
      <div class="top_nav_right">
        <div class="wthreecartaits wthreecartaits2 cart cart box_1">
          <a href="#" data-toggle="modal" data-target="#myModal3" class="mseed">
            <button class="w3view-cart" type="submit" name="submit" value="">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </button>
          </a>
        </div>
      </div>
      <!-- //cart details -->
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- shop locator (popup) -->
<!-- Button trigger modal(shop-locator) -->
<div id="small-dialog1" class="mfp-hide">
  <div class="select-city">
    <h3>Please Select Your Location</h3>
    <select class="list_of_cities">
      <optgroup label="Popular Cities">
        <option selected style="display:none;color:#eee;">Select Town</option>
        <option>Nairobi</option>
        <option>AMombasa</option>
        <option>Kisumu</option>
        <option>Nakuru</option>
        <option>Thika</option>
        <option>Machakos</option>
        <option>Ngong</option>
        <option>Rongai</option>
        <option>Soth C</option>

      </optgroup>

    </select>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //shop locator (popup) -->
<!-- signin Model -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <%= render partial: 'users/sessions/new'%>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal1 -->
<!-- //signin Model -->
<!-- signup Model -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <%= render partial: 'users/registrations/new'%>
    <!-- //Modal content-->
  </div>
</div>
<!-- //Modal2 -->

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="modal_body_left modal_body_left1">
          <%= render "layouts/cart_text" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //signup Model -->
<!-- //header-bot -->
<!-- navigation -->
<div class="ban-top">
  <div class="container">
    <div class="agileits-navi_search">
      <form action="#" method="post">
        <select id="agileinfo-nav_search" name="agileinfo_search" required="">
          <option value="">All Categories</option>
          <option value="Kitchen">Whiskey</option>
          <option value="Household">Vodka</option>
          <option value="Snacks &amp; Beverages">Cognac</option>
          <option value="Personal Care">Gin</option>
          <option value="Gift Hampers">Brandy</option>
          <option value="Fruits &amp; Vegetables">Tequila</option>
          <option value="Baby Care">Wine</option>
          <option value="Soft Drinks &amp; Juices">Soft Drinks & Juices</option>
          <option value="Frozen Food">Rum</option>

        </select>
      </form>
    </div>
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu__list">
              <li class="active">
                <a class="nav-stylehead" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <% @categorieso.each do |category| %>
              <li class="">
                <a class="nav-stylehead" href="/categories/<%= category.id%>"><%= category.name %></a>
              </li>
              <% end %>
              <li class="">
                <a class="nav-stylehead" href="contact.html">Contact</a>
              </li>
              <li class="">
                <a class="nav-stylehead" href="faqs.html">Faqs</a>
              </li>
              <li class="">
                <a class="nav-stylehead" href="about.html">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- //navigation -->
